;; Copyright (c) 2024 Avicenna
;; This source code is licensed under the MIT license found in the
;; LICENSE.txt file in the root directory of this source tree.

(ns {{top/ns}}.{{main/ns}}-test
  (:require [clojure.test :refer :all]
            [{{top/ns}}.{{main/ns}} :refer :all]))

(deftest a-test
  (testing "FIXME, I fail."
    (is (= 0 1))))
