;; Copyright (c) 2024 Avicenna
;; This source code is licensed under the MIT license found in the
;; LICENSE.txt file in the root directory of this source tree. 

(ns {{top/ns}}.{{main/ns}})

(defn foo
  "I don't do a whole lot."
  [x]
  (prn x "Hello, World!"))
